<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>New Hat :: Wardrobe</title>
  <script type="module" src="js/new-hat.js"></script>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Wardrobify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-none" aria-current="page" href="new-shoes.html">Shoes</a>
            </li>
          </ul>
          {% comment %} <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search conferences" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            <a class="btn btn-primary" href="attend-conference.html">Attend!</a>
          </form> {% endcomment %}
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="offset-3 col-6">
          <div class="shadow p-4 mt-4">
            <h1>Create a new Hat</h1>
            <form id="create-conference-form">
              <div class="form-floating mb-3">
                <input placeholder="style_name" required type="text" name="style_name" id="style_name" class="form-control">
                <label for="style_name">Style Name</label>
              </div>
              <div class="form-floating mb-3">
                <input placeholder="fabric" required type="text" name="fabric" id="fabric" class="form-control">
                <label for="fabric">Fabric</label>
              </div>
              <div class="form-floating mb-3">
                <input placeholder="color" required type="text" name="color" id="color" class="form-control">
                <label for="color">Color</label>
              </div>
              <div class="form-floating mb-3">
                <input placeholder="picture_url" required type="url" name="picture_url" id="picture_url" class="form-control">
                <label for="picture_url">Picture URL</label>
              </div>
              <div class="mb-3">
                <select required id="locations" name="locations" class="form-select">
                  <option selected value="">Choose a location</option>
                </select>
              </div>
              <button class="btn btn-primary">Create</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
